.conten{
      font-family: Segoe ui light;
}
.blue
{
    color: blue;
}
.red{
    color: red;
}
.body
{
    font-family: tahoma;
    font-size: 10px;

}
.green{
    color: green;
}

.batdau .link {
    color: greenyellow;
    font-size: 20px;
}

.batdau .text{
    color: #404044;
    font-size: 50px;
}